.Footer__primary {
    background-color: #262236;
    color: white;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.Links__footer>a {
    color: #ffffff !important;
}

.Links__footer>a:hover {
    color: #ED7526 !important;
    text-decoration: none !important;
}

.Links__footer>a>img {
    width: 50px;
    height: 25px;
}